body {
    /*background-color: ghostwhite;*/
}

/*.navbar {*/
/*background-color: red;*/
/*}*/

.poke-navbar {
    /*background-color: red;*/
    /*background-color: #383961;*/
    background-color: rgba(235, 0, 45, 1);
    /*border-bottom: 2px solid black;*/
    box-shadow: 0 0 4px black;
}

.nav-img {
    width: 30px;
}

.background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.info-panel {
    background-color: rgba(0, 0, 0, .8);
    padding: 10px;
    border-radius: 5px;
}

.txt-white {
    color: white;
}