body {
    /*background-color: ghostwhite;*/
}

/*.navbar {*/
/*background-color: red;*/
/*}*/

.poke-navbar {
    /*background-color: red;*/
    /*background-color: #383961;*/
    background-color: rgba(235, 0, 45, 1);
    /*border-bottom: 2px solid black;*/
    box-shadow: 0 0 4px black;
}

.nav-img {
    width: 30px;
}

.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
}

.info-panel {
    background-color: rgba(0, 0, 0, .85);
    padding: 20px;
    border-radius: 15px;
}

/*.upload {*/
    /*position: absolute;*/
    /*left: 0%;*/
    /*width: 60%;*/
/*}*/

.txt-white {
    color: white;
}